.newUser{
    flex: 4;
    background: rgb(1, 46, 16);
    color: beige;
    padding: 20px;

    .nuForm{
        display: flex;
        flex-wrap: wrap;
    }

    .nuTitle{
        margin-left: 10px;
        color: rgb(230, 255, 85);
    }

    .nuItem{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;

        label{
            color: rgb(230, 255, 85);
            font-size: 18px;
            margin-bottom: 5px;
        }
        input{
            width: 300px;
            height: 20px;
            padding: 5px;
            background-color: rgb(191, 241, 224);
            border-radius: 5px;
            border: none;
            border: 2px solid rgb(12, 175, 204);
            margin-top: 1px;
            outline: none;
            font-size: 18px;
            &:focus{
                background: rgb(172, 233, 241);
                border: 2px solid rgb(227, 220, 33);
    
            }
            &.inputError{
                border: 2px solid red;
                background: rgb(223, 110, 110);
            }
        }
        
    }
    .ggg{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
    }
    .btItem{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 28px;
        
        
        select{
            width: 120px;
            height: 25px;
            background: rgb(165, 228, 216);
            font-weight: 500;
            font-size: 14px;
            outline: none !important;
            border: 2px solid rgb(0, 243, 207);
            border-radius: 5px;
            padding: 3px;
            
        }
        select:focus{
            background: rgb(139, 157, 205);
            border: 1px solid yellow;
        }
        
    }
    
    
    .fff{
        outline: none !important;
        border: 2px solid rgb(218, 55, 82);
        border-radius: 7px;
        padding: 3px;
    }
    span{
        color: red;
        margin: 0 !important;
        padding: 0 !important;
        
    }
    button{
        width: 180px;
        text-align: center;
        background: rgb(10, 112, 196);
        padding: 7px;
        margin: 37px 86px;
        font-weight: 600;
        font-size: 18px;
        color: rgb(255, 212, 212);
        cursor: pointer;
        border: none;
        border-bottom:2px solid blue ;
        border-radius: 5px;
        outline: none;
        
        &:disabled{
            border: 3px solid rgb(112, 255, 60);
            color: rgb(0, 69, 15) !important;
            background: rgb(1, 216, 19) !important;
        }
        &:hover{
            background: rgb(244, 230, 230);
            color: rgb(0, 26, 255);
        }
    }
    .toast-message{
        width: 600px;
        color:rgb(145, 13, 13)
    }

}