.newProduct{
    flex: 4;
    padding: 20px;
    background: rgb(1, 22, 5);
    .addProductForm {
        margin-top: 10px;
      }
      .addProductTitle{
        color: rgb(255, 253, 112);
      }
      
      .addProductItem {
        width: 250px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
      }
      
      .addProductItem > label {
        color: rgb(255, 253, 112);
        font-weight: 600;
        margin-bottom: 10px;
      }
      
      .addProductItem > input {
        margin-bottom: 10px;
        border: none;
        padding: 5px;
        border-bottom: 3px solid rgb(41, 255, 244);
        border-radius: 7px;
        background: rgb(0, 0, 0);
        color: #efff5c;
        outline: none;
        &::placeholder{
        color: #efff5c80;
          
        }
        &:focus{
          border: 1px solid rgb(41, 255, 244) ;
        }
      }
      
      .addProductItem > select {
        padding: 10px;
        margin-bottom: 10px;
        border-bottom: 3px solid rgb(10, 181, 255);
        border-radius: 7px;
        background: rgb(0, 0, 0);
        color: #efff5c;


        
      }
      
      .addProductButton {
        width: 150px;
        margin-top: 10px;
        padding: 7px 10px;
        border: none;
        border-radius: 10px;
        background-color: darkblue;
        color: white;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        &:hover{
          background-color: wheat;
          color:blue;
      }
      }
}