.ali{
    flex: 4;
    background: rgb(26, 21, 21);
    .list{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .listImg{
        padding: 0;
        margin: 0;
        width: 40px;
        border-radius: 50%;
        background: black;
        border: 1px solid rgb(255, 253, 123);
    }
    .listTitle{
        margin-left: 10px;
    }
    .fi{
        font-size: 18px; 
        color: #d7ff68;
    }
    .fe{
        font-size: 16px;
        color: #d7ff68;
    }
    .actionList{
        display: flex;
        align-items: center;
    }
    .alButton{
        background: rgb(165, 247, 118);
        border: none;
        padding: 3px 14px;
        color: rgb(46, 9, 9);
        border-radius: 7px;
        font-weight: 600;
        cursor: pointer;
        &:hover{
            color: rgb(4, 4, 8) !important;
            background: rgb(230, 227, 105);
        }
    }
    .alIcon{
        font-size: 23px !important;
        background: none;
        border: none;
        color: rgb(250, 120, 120);
        cursor: pointer;
        &:hover{
            color: rgb(236, 96, 96) !important;
        }
    }

    .MuiDataGrid-columnHeaderTitleContainer{
        color: rgb(228, 199, 199);
        
    }
    .MuiButtonBase-root{
        color: rgb(221, 224, 20) !important;
    }
    .MuiDataGrid-columnHeaderTitleContainer{
        text-align: left !important;
        
    }
    .MuiTablePagination-displayedRows{
        color: #d7ff68;
    }
}
