@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar{
	width: 6px;
}
html::-webkit-scrollbar-track{
	background:#355d5e;
}
html::-webkit-scrollbar-thumb{
	background:#020537;
}
html, body{
	margin: 0;
	padding: 0;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
